@charset "utf-8";

/*
**************************
(C)2010-2013 phpMyWind.com
update: 2011-9-8 13:43:32
person: Feng
**************************
*/


/*全局设置*/
*{padding:0;margin:0;}
html,body{width:100%;height:100%;}
body{font-size:12px;overflow:hidden;z-index:1;}
ul,li{list-style:none;}img{border:0;}
.cl{clear:both;}


/*隐藏菜单*/
body.showmenu .left{display:block;}
body.showmenu .right{left:207px;}
body.showmenu .togglemenu{background:#4e5764;}
body.hidemenu .togglemenu{background:#4e5764;}
body.showmenu .togglemenu,body.hidemenu .togglemenu{display:block;width:3px;height:34px;overflow:hidden;text-indent:-999px;}

.tm{position:absolute;top:104px;left:0;}
.tm a{text-decoration:none;color:#fff;}
/*
body.hidemenu .left{display:none;}
body.hidemenu .right{left:0px;}
body.hidemenu{background:none;}
*/

/*布局样式*/
.left{position:absolute;top:91px;width:206px;left:0px;bottom:0px;z-index:7;border-right:1px solid #cbdee4;background:#e3eff3;}
.left{*height:100%;*top:0;*bottom:0;*border-top:91px solid #fff;*border-bottom:0px solid #fff;*z-index:1;}
.menu{height:100%;}
.menu iframe{height:100%;width:99.99%;z-index:20;}
.right{position:absolute;right:0;top:91px;bottom:0px;z-index:7;}
.right{*height:100%;*top:0;*bottom:0;*border-top:91px solid #fff;*border-bottom:0px solid #fff;*z-index:1;}
.main{height:100%;}
.main iframe{height:100%;width:99.99%;z-index:20;}


/*头部样式*/
.header{height:90px;border-bottom:1px solid #1b5983;background:url(../images/header_bg.png) repeat-x #339ccb;position:relative;z-index:8;}
.header_logo{height:90px;*height:91px;background:url(../images/header_logo.png) no-repeat 0 0;}
.header_info{height:21px;line-height:21px;_line-height:22px;color:#fff;float:right;margin:10px 20px 0 0;_display:inline;}
.header_info a{color:#fff;text-decoration:none;}
.header_info a:hover{text-decoration:underline;}
.header_info .line{display:inline-block;width:14px;background:url(../images/header_info_line.png) no-repeat center 7px;}
.header_info .lockscreen{background:url(../images/lockscreen.png) no-repeat;padding:3px 0 0 20px;}
.header_info .loginuser_info{cursor:pointer;color:#c3efff;}
.header_info .loginuser_info span{font-family:Verdana;}
.header_info .help{background:url(../images/header_info_help.png) no-repeat 2px 1px;padding:3px 0 0 20px;}


/*站点列表*/
.sitelist{position:absolute;top:45px;right:125px;border:1px solid #656565;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.sitelist a{height:23px;line-height:23px;padding:0 10px;display:inline-block;overflow:hidden;text-decoration:none;text-align:center;font-family:"微软雅黑",Arial,"宋体";color:#333;background:#fff;}
.sitelist a.on{background:#f6f9fa;}


/*快捷菜单*/
.quick{position:absolute;top:45px;right:20px;z-index:999;}
.quick .btn{display:inline-block;width:95px;height:25px;line-height:25px;background:url(../images/qmenu_bg.png) right -1px;text-decoration:none;font-family:"微软雅黑";font-weight:bold;color:#cc6600;overflow:hidden;text-indent:25px;}
.quick .on{background:url(../images/qmenu_bg.png) right -31px;color:#333;}
.quick .qucikmenu{width:550px;height:435px;position:absolute;top:24px;right:0;background:#fff;border:1px solid #959595;z-index:-1;display:none;}
.quick .qucikmenu .warp{padding:6px;box-shadow:1px 1px 30px rgba(0,0,0,0.3);}
.quick .qucikmenu .col{float:left;}
.quick .qucikmenu .mapitem{width:127px;*width:135px;margin-right:-1px;padding:3px;line-height:22px;border:1px solid #eee;border-bottom:0;overflow:hidden;}
.quick .qucikmenu .mapitem strong{display:block;padding:2px 2px 2px 5px;line-height:18px;font-family:"微软雅黑";color:#b87500;}
.quick .qucikmenu .mapitem dl{padding-left:4px;}
.quick .qucikmenu .mapitem dl dt{margin:3px 0;_padding-left:1px;line-height:20px;color:#006a92;}
.quick .qucikmenu .mapitem dl dd{line-height:20px;}
.quick .qucikmenu .mapitem dl dd a{padding:3px 2px;text-decoration:none;color:#000;}
.quick .qucikmenu .mapitem dl dd a:hover{background:#3b639f;color:#fff;}
.quick .qucikmenu .mapitem dl dd a.bom{font-family:Verdana;}



/*锁屏样式*/
#lockscreen_bg{position:absolute;top:0px;left:0px;width:100%;height:100%;background:#f1fbff;display:none;z-index:998;}
#lockscreen_bg{*height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');*width:expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');}
#lockscreen_win{display:none;width:339px;height:144px;background:url(../images/lockscreen_bg.png) no-repeat;position:absolute;top:50%;left:50%;margin:-115px 0 0 -170px;z-index:999;}
#lockscreen_pwd{margin:80px 0 0 32px;font-size:14px;position:relative;}
#password{width:175px;height:24px;line-height:20px;background:url(../images/input_gray_bg.png) repeat-x;border:1px solid #d0d0d0;text-indent:2px;position:absolute;left:42px;}
#lockscreen_pwd label{position:absolute;top:5px;}
#lockscreen_btn{position:absolute;left:225px;}
#lockscreen_note{position:absolute;top:32px;left:42px;font-size:12px;color:red;}
#lockscreen_copy{position:absolute;bottom:100px;width:100%;text-align:center;display:none;z-index:999;font-family:Verdana;font-size:14px;color:#C4C4C4;}
