<?php if(!defined('IN_INSTALL')) exit('Request Error!'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PHPMyWind 安装向导 - 执行配置文件</title>
<link href="templates/style/install.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="templates/js/jquery.min.js"></script>
</head>
<body>
<div class="header">
		<div class="step_area"><img src="templates/images/extset.png" /></div>
</div>
<div class="mainbody">
		<div class="step_sgin"><img src="templates/images/step_sgin_third.png" /></div>
		<h2 class="install_title">正在安装...</h2>
		<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
				<td>
				<div style="height:204px;line-height:24px;overflow:auto;" id="content_area"></div>
				</td>
		</tr>
</table>
</div>
<div class="footer">© 2010-2013 phpMyWind.com</div>
</body>
</html>