@charset "utf-8";

/*全局控制*/
body{margin:0;padding:0;font-family:"微软雅黑", Arial, "宋体";font-size:12px;line-height:22px;background:#e3eff3;overflow:hidden;-webkit-text-size-adjust:none;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
a{color:#005590;text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.hr_1,.hr_5{font-size:1px;line-height:1px;clear:both;_overflow:hidden;}
.hr_1{height:1px;background:#99b1c4/*64c2e1*/;border-bottom:1px solid #fff;}.hr_5{height:5px;}


.quickbtn,.quickbtn_left a,.quickbtn_right a{background:url(../images/quickbtn_bg.png) no-repeat;text-shadow:white 0 1px 0;font-size:14px;font-weight:bold;color:#007296;font-family:"宋体";}
.quickbtn{width:176px;height:34px;margin:13px auto 15px;overflow:hidden;}
.quickbtn_left,.quickbtn_right{width:88px;line-height:35px;text-align:center;}
.quickbtn_left{float:left;}
.quickbtn_left a{display:block;background-position:0 0;}
.quickbtn_left a:hover{background-position:0 -48px;}
.quickbtn_left a:active{background-position:0 -96px;}
.quickbtn_left a:focus{background-position:0 -144px;}


.quickbtn_right{float:right;}
.quickbtn_right a{display:block;background-position:-88px 0;}
.quickbtn_right a:hover{background-position:-88px -48px;}
.quickbtn_right a:active{background-position:-88px -96px;}
.quickbtn_right a:focus{background-position:-88px -144px;}


.menubox{width:180px;margin:0 auto;position:relative;}
.menubox .title{width:155px;line-height:25px;color:#285873;padding-left:25px;font-weight:bold;cursor:pointer;}
.menubox .ton{background:url(../images/arrowdown_ico.gif) no-repeat 10px 10px;}


.menubox a{padding-left:25px;display:block;line-height:26px;color:#3f7390;}

/*css3.0*/
.menubox a{-webkit-transition-property:color, background-color;-webkit-transition-duration:300ms, 300ms;-moz-transition-property:color, background-color;-moz-transition-duration:300ms, 300ms;-o-transition-property:color, background-color;-o-transition-duration:300ms, 300ms;}
.menubox a:hover{background:#d1e8f1;color:#000;}
/*------*/

.menubox a.admingroup,.menubox a.infoattr,.menubox a.infosrc,.menubox a.usertype,.menubox a.adtype,.menubox a.weblinktype,.menubox a.goodsinfoattr{position:absolute;display:block;width:13px;height:25px;padding-left:0;background:url(../images/left_menu_mgr_ico.gif) no-repeat 0 -22px;right:0px;overflow:hidden;z-index:999;}
.menubox a:hover.admingroup,.menubox a:hover.infoattr,.menubox a:hover.usertype,.menubox a:hover.adtype,.menubox a:hover.weblinktype,.menubox a:hover.goodsinfoattr{_background:url(../images/left_menu_mgr_ico.gif) no-repeat 0 -22px;}
.menubox a.admingroup{top:19px;}
.menubox a.infoattr{top:99px;}
.menubox a.infosrc{top:124px;}
.menubox a.usertype{top:20px;}
.menubox a.adtype{top:126px;}
.menubox a.weblinktype{top:152px;}
.menubox a.goodsinfoattr{top:73px;}

.copyright{width:180px;margin:0 auto;position:relative;padding-top:7px;text-align:center;line-height:20px;font-family:Verdana;color:#a4a5a7;}
.copyright span{text-decoration:underline;}
.copyright a{color:#a4a5a7;}


/* Tiny Scrollbar */
#scrollmenu{width:180px;margin:0 auto;}
#scrollmenu .viewport{width:180px;position:relative;}
#scrollmenu .overview{list-style:none;position:absolute;left:0;top:0;padding:0;margin:0;}
#scrollmenu .scrollbar{width:8px;/*background:transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0;*/position:relative;float:right;margin-right:-11px}
/*#scrollmenu .track{background:transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;height:100%;width:13px;position:relative;padding: 0 1px; }*/
#scrollmenu .thumb{background:url(../images/scrbar_thumb.png) no-repeat 50% 100%;width:6px;width:7px\0;*width:13px!important;_width:13px;height:20px;cursor:pointer;overflow:hidden;position:absolute;top:0;left:0px;}
#scrollmenu .thumb .end{background:url(../images/scrbar_thumb.png) no-repeat 50% 0;overflow:hidden;width:6px;width:7px\0;*width:13px!important;_width:13px;height:5px;}
#scrollmenu .disable{display:none;}

/*css3.0*/
#scrollmenu .thumb{-webkit-transition-property:background;-webkit-transition-duration:300ms;-moz-transition-property:background;-moz-transition-duration:300ms;-o-transition-property:background;-o-transition-duration:300ms;}
#scrollmenu .thumb:hover{background:url(../images/scrbar_thumb_on.png) no-repeat 50% 100%;}
#scrollmenu .thumb:hover .end{background:url(../images/scrbar_thumb_on.png) no-repeat 50% 0;}
/*------*/

.tGradient{display:none;position:absolute;left:13px;top:58px;width:180px;height:15px;overflow:hidden;background:-moz-linear-gradient(top,#e3eff3,rgba(227,239,243,0));background:-webkit-gradient(linear,left top,left bottom,from(#e3eff3),to(rgba(227,239,243,0)));background:#e3eff3\9;filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=0,finishx=0,finishy=100);z-index:999;}
.bGradient{display:none;position:absolute;left:13px;bottom:56px;width:180px;height:15px;overflow:hidden;background:-moz-linear-gradient(bottom,#e3eff3,rgba(227,239,243,0));background:-webkit-gradient(linear,left bottom,left top,from(#e3eff3),to(rgba(227,239,243,0)));background:#e3eff3\9;filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=100,finishx=0,finishy=0);z-index:999;}